.main
{
    background-color:#74CFE2;
    margin:0px;
    padding-top:200px;
    width:100%;
    height: 700px;
    text-align:center;
}

h1
{
    color:#FF4D4D;
    font-size: 70px;
}

h2
{
   color: #FFFFFF;
   font-size: 50px;
}

.box
{
    background-color:#74CFE2;
    margin:0px;
    padding-top:200px;
    width:100%;
    height: 700px;
    text-align:center;
}

.flex
{
    background-color:#74CFE2;
    display:flex;
    width:100%;
    justify-content: center;
    align-items: flex-end;
    flex-direction:row;
    flex-wrap:nowrap;
}

h3
{
    color: #FFFFFF;
    font-size: 50px;
}

footer
{
    background-color:#FFFFFF;
    margin:0px;
    width:100%;
    height: 20px;
    text-align:center;
}
