nav
{
	display:flex;
	flex-wrap:nowrap;
	background-color:#4285F4;
	padding:0px, 0px, 0px,0px;
	width:100%;
	height: 55px;
}
.nav1
{
	color:#FFFFFF;
	font-style:normal;
	font-size: 20px;
	text-decoration:none;
	font-weight:normal;
	padding-top:12px;
	margin-top:0px;
	margin-left: 20px
}

a:link 
{ 
	text-decoration:none; 
} 

	
.avatar
{
	width:30px;
	height:30px;
	padding:0px, 0px, 0px,0px;
	margin-top:7px;
}
.profile
{
	color:#FFFFFF;
	font-size:10px;
	text-align:center;
	margin-left: 70%;
	padding:0px, 0px, 0px,0px;
	margin:0px, 0px, 0px,0px;
}

h3
{	
	margin:auto;
	text-align:center;
	padding:0px, 0px, 0px,0px;
}

.buttonbox
{
	margin-top:15px;
	width:125px;
	height: 20px;
	text-align:center;
	margin-left:1%;
	background-color:#90EE90;
}

.platforme
{
	color:#000000;
}

body
{
	background-color:#74CFE2;
}

h1
{
	margin-top:5%;
	text-align:center;
	font-size:40px;
}

.flex
{
	display: flex;
	margin-left: 15%;
	margin-right: 15%;
	justify-content: center;
	flex-wrap: wrap;
}

.data
{
	text-align:center;
	margin-right:10px;
}

.info
{
	border: 1px #0DC5B9 solid;
	font-weight:bold;
}

.lien
{
	color:#BFBFBF;
	text-decoration:none;
	background-color:#A52A2A;
}


