nav
{
	display:flex;
	flex-wrap:nowrap;
	background-color:#4285F4;
	padding:0px, 0px, 0px,0px;
	width:100%;
	height: 55px;
}
.nav1
{
	color:#FFFFFF;
	font-style:normal;
	font-size: 20px;
	text-decoration:none;
	font-weight:normal;
	padding-top:12px;
	margin-top:0px;
	margin-left: 20px
}

a:link 
{ 
	text-decoration:none; 
} 

	
img
{
	width:30px;
	height:30px;
	padding:0px, 0px, 0px,0px;
	margin-top:7px;
}
.profile
{
	color:#FFFFFF;
	font-size:10px;
	text-align:center;
	margin-left: 60%;
	padding:0px, 0px, 0px,0px;
	margin:0px, 0px, 0px,0px;
}

h3
{	
	margin:auto;
	text-align:center;
	padding:0px, 0px, 0px,0px;
}

.buttonbox
{
	margin-top:15px;
	width:125px;
	height: 20px;
	text-align:center;
	margin-left:1%;
	background-color:#90EE90;
}

.platforme
{
	color:#000000;
}

body
{
	background-color:#74CFE2;
}

h1
{
	font-size:40px;
	text-align:center;
	color:#A52A2A;
}

h2
{
	font-size:20px;
	color:#4D4D4D;
	margin-left:3%;
}

p
{
	text-decoration:justify;
	font-size:14px;
	margin-left:5%;
}
.marge
{
	margin-left:5%;
}
h5
{
	font-size:25px;
	color:#008000;
	margin-left:3%;
}
